 header {
  padding: 1.5rem 0;
}

main {
  margin: 1rem;
}

h1 {
  font-size: 2rem;

  margin: 0.75rem 1rem;
}

h2 {
  font-size: 1.6rem;

  margin: 0.5rem 1rem;
}

h3 {
  font-size: 1.4rem;
}

h5 {
  color: #726f9f;
}

p {
  font-size: 1rem;
  padding: 0.25rem 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: #726f9f;
  text-decoration: none;
}

.form-group .btn {
  color: #ffffff;
  background-color: #726f9f;
}
/* /* .row  {
    display: inline-block;
} */

/* .active {
  color: #726f9f;
} */
.thirty {
  margin-left: 200px !important;
  margin-right: 200px !important;
  margin-bottom: -50px;
  z-index: 9;
  position: fixed !important;
}

.thirty ul {
  margin-left: 500px;
}
.thirty ul a {
  color: white;
  margin-left: 0px;
  font-size: 14px;
}
.thirty ul a:hover {
  color: #ffffff;
  border-bottom: 1px solid white;
}

.img10 {
  width: 30%;
 height: 30%;
}

.carousel-item .in-obj {
  top: 50% !important;
  left: 50% !important;
  position: absolute !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
}

.carousel-caption h2 {
  color: #ffffff !important;
  font-size: 55px;
  font-weight: bold;
  font-family: poppins;
}

.carousel-caption p {
  color: #ffffff !important;
  font-size: 22px;
  font-weight: bold;
  font-family: century gothic;
}

.carousel-caption button {
  color: #ffffff !important;
  padding: 10px 30px !important;
  font-weight: bold;
  background-color: #726f9f !important;
  outline: none;
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-light .navbar-nav .active > .navbar-light,
.navbar-nav .nav-link .active,
.navbar-light .navbar-nav .nav-link .show > .nav-link {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-light .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-nav a {
  font-family: poppins;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-light .navbar-brand {
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-brand {
  margin-top: 5px;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: white;
  background-color: white !important;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: none !important;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
    background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7) !important;
  left: 0;
  z-index: 9;
}

.card {
  width: 100%;
}

.card-body {
  padding: 1rem;
}

a:hover {
  color: #726f9f;
  text-decoration: none;
  border-bottom: 2px #726f9f;
} 

/* .active{
    color: #E13B63;
}
.thirty{
    margin-left: 200px !important;
    margin-right: 200px !important;
    margin-bottom: -50px;
    z-index: 9;
    position: fixed !important;
}

.thirty ul{
    margin-left: 500px;
}
.thirty ul a{
    color: white;
    margin-left: 20px;
    font-size: 25px;
}
.thirty ul a:hover{
    color: #ffffff;
    border-bottom: 1px solid white;
}
.thirty1{
    background-image: url(./assets);
}

.thirty2{
    padding: 50px 20px ;
}
.thirty3{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    
    
}

.thirty6{
    margin-top: 30px
}
.thirty4{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 50px;
    margin-right: 50px;
}

.img1{
    width: 100% !important;;
    height: 600px !important;
}

.carousel-item .in-obj{
    top: 50% !important;
    left: 50% !important; 
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
    text-align: center !important;
    
}

.carousel-caption h2{
    color: #ffffff !important;
    font-size: 55px;
    font-weight: bold;
    font-family: poppins;
}


.carousel-caption  p{
    color: #ffffff !important;
    font-size: 22px;
    font-weight: bold;
    font-family: century gothic;

}
.new{
    margin-bottom: 50px
}
.new1{
    display: inline;
     font-size: 40px;
     color: #F11212;
     margin-left: 120px;
}
.new4{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}
.new4 h2{
    font-size: 40px;
    padding-bottom: 30px;
}
.new4 p{
    font-size: 25px;
    padding-bottom: 30px
}
.new5{
    padding-bottom: 50px;
}
.new3{
    margin-left: 60px;
    margin-right: 60px;
}
.new6{
    background: url(../assets/images/CN-2.png )no-repeat center center cover;
}

.carousel-caption button{
    color: #333 !important;
    padding: 10px 30px !important;
    font-weight: bold;
    background-color: white !important;
    outline: none;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-light .navbar-nav .active > .navbar-light, .navbar-nav .nav-link .active, .navbar-light .navbar-nav .nav-link .show > .nav-link {
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link {
    color: #FFFFFF;
}

.navbar-light .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

 .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: white;
    background-color: white !important;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: none !important;
    -ms-flex-align: center;
    align-items: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.7) !important;
    left: 0;
    z-index: 1030;
}

.navbar-toggler {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: .25rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}  */
